<title>by Jo (0x6a6f#8102)</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
<script type="module" src="/scripts/main.js" defer></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />