* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: #202020;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

#root {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 150px;
}

#header {
  padding-top: 3px;
  text-align: center;
  background: #026c45;
  color: white;
  font-size: 14px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #292c2f;
  color: #8f9296;
  font-size: 14px;
  margin: 0;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: normal 16px sans-serif;
  padding: 5px;
}

.wrapper {
  position: relative;
  top: 55px;
  width: 275px;
  height: 315px;
  background: #151515;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  margin: 5px 1% 5px 1%;
  box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
}

.wrapper .profile:after {
  width: 100%;
  height: 1px;
  content: ' ';
  display: block;
  margin-top: 1.3em;
  background: #e9eff6;
}

.wrapper .profile .thumbnail {
  width: 90px;
  height: 90px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .2);
}

h3 {
  height: 20px;
}

p {
  height: 25px;
}

.wrapper .profile .name{
  margin-bottom: 10px;
}

.wrapper .profile .name::before {
  color: #772ce8;
  font-size: 16px;
  font-weight: 600;
  content: attr(data-name);
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 20px;
}

.wrapper .profile .title::before {
  color: #7c8097;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  content: attr(data-title);
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 25px;
}

.wrapper .profile .orga::before {
  color: #7c8097;
  font-size: 0.65em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  content: attr(data-title);
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  height: 25px;
}

.wrapper .profile .btn::before {
  color: #fff;
  height: 42px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, .16), 0 3px 6px rgba(0, 0, 0, .16);
  background: linear-gradient(to bottom right, #451093, #772ce8);
  text-decoration: none;
  text-align: center;
  line-height: 42px;
  content: attr(data-link);
  position: relative;
}

.wrapper .offline-lable {
  color: #7c8097;
  font-size: 0.85em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  letter-spacing: 1.5px;
}

.wrapper .offline-lable img {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

th{
  font-weight: 750;
  font-size: 1.1em;
}

.icon {
	position: relative;
	cursor: pointer;
}

.icon:hover .tooltip {
	display: block;
}

.tooltip {
	padding: 5px;
	position: absolute;
	width: auto;
	white-space: nowrap;
	word-wrap: no-wrap;
	border-radius: 5px;
	background-color: #772ce8;
  color: #fff;
	top: 20px;
	left: 50%;
	transform: translate(-50%);
	transform-style: preserve-3d;
	z-index: 200;
	font-size: 0.9em;
	display: none;
}

.tooltip:after {
	content: '';
	position: absolute;
	display: block;
	width: 10px;
	height: 10px;
	transform-origin: 50% 50%;
	transform: rotate(45deg) translateX(-50%);
	background-color: #772ce8;
	left: 50%;
	top: -1px;
	z-index: 400;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #151515;
  min-width: 160px;
  z-index: 1;
  padding: 0 15px;
  right:0;
}

.dropdown-content div{
  font-size: 22px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content label:hover {background-color: #202020;}

/* .dropdown:active .dropdown-content, .dropdown:focus .dropdown-content, .dropdown:hover .dropdown-content, .dropdown:target .dropdown-content {display: block;  } */

.dropdown:hover .dropbtn {background-color: #3e8e41;}



/* The container */
.container, .container1 {
  display: block;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input, .container1 input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark, .checkmark1{
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark,.container1:hover input ~ .checkmark1 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark,.container1 input:checked ~ .checkmark1 {
  background-color: #772ce8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after,.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after,.container1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after,.container1 .checkmark1:after  {
 	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}




/* The container */
.container0, .container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container0 input,.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark0,.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container0:hover input ~ .checkmark0,.container2:hover input ~ .checkmark2 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container0 input:checked ~ .checkmark0,.container2 input:checked ~ .checkmark2 {
  background-color: #772ce8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark0:after,.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container0 input:checked ~ .checkmark0:after,.container2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the checkmark/indicator */
.container0 .checkmark0:after,.container2 .checkmark2:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}