<!DOCTYPE html>
<html>

<head>
  <meta name="twitter:card" content="summary" data-react-helmet="true">
  <meta name="twitter:site" content="@0x6a6f" data-react-helmet="true">
  <meta property="og:site_name" content="Streamerliste by Jo" data-react-helmet="true">
  <meta name="description"
    content="Diese Webseite zeigt dir alle aktiven Streamer, die auf Sektor-V.eu zu finden sind.">
  <meta name="twitter:title" content="Sektor-V.eu Streamerliste">
  <meta name="twitter:image" content="https://www.sektor-v.eu/index.php?media/262-03-png/">
  <meta name="twitter:image:alt" content="Streamerliste by Jo">
  <meta name="twitter:description"
    content="Diese Webseite zeigt dir alle aktiven Streamer, die auf Sektor-V.eu zu finden sind.">
  <meta property="og:title" content="Sektor-V.eu Streamerliste">
  <meta property="og:image" content="https://www.sektor-v.eu/index.php?media/262-03-png/">
  <meta property="og:description"
    content="Diese Webseite zeigt dir alle aktiven Streamer, die auf Sektor-V.eu zu finden sind.">
  <meta property="og:type" content="Website">
  <meta property="og:url" content="https://sektor-v-streams.herokuapp.com">
  <script src="/socket.io/socket.io.js"></script>
  <%- include('../partials/header.ejs') %>
  <script>
    function setCookie(name, value, days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
    }
    // time for countdown
    let Seconds = 0;
    // last data
    let _channels;
    /*
      0 - alphabet
      1 - fraktion
      2 - viewer
      3 - individuell
    */
    let sortierungsTyp = (getCookie("sortierungsTyp") != null) ? getCookie("sortierungsTyp") : 0;
    /*
      0 - online
      1 - offline
      2 - online&offline
      3 - nichts(?)
    */
    let einblendungsTyp = (getCookie("einblendungsTyp") != null) ? getCookie("einblendungsTyp") : 0;

    if (sortierungsTyp == '') sortierungsTyp = 0;
    if (einblendungsTyp == '') einblendungsTyp = 0;
    /*
      0 - GTA V
      1 - alles
    */

    let fraktionen = (getCookie("fraktionen") != null) ? getCookie("fraktionen") : [];

    let spielTyp = (getCookie("spielTyp") != null) ? getCookie("spielTyp") : 0;
    if (sortierungsTyp == '') sortierungsTyp = 0;
    if (einblendungsTyp == '') einblendungsTyp = 0;
    if (spielTyp == '') spielTyp = 0;
    if (fraktionen == '') fraktionen = [];
  </script>
</head>

<body>
  <div id="header">
    <h3>New update in</h3>
    <p id="time">00:00</p>
    <div class="dropdown">
      <button style="position:absolute;right:0;top:0;transform:translatey(25%); background:transparent; border:none;"
        class="dropbtn"><img
          style="filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);"
          width=32 src="./images/1947697821552644384.svg" alt=""></button>
      <div class="dropdown-content">
        <div>Sortierung</div>
        <label class="container">Alphabetisch
          <input type="radio" checked="checked" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Fraktion
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Viewer
          <input type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <label class="container">Individuell
          <input disabled type="radio" name="radio">
          <span class="checkmark"></span>
        </label>
        <div>Spiel</div>
        <label class="container1">GTA V
          <input type="radio" name="radio1" checked="checked">
          <span class="checkmark1"></span>
        </label>
        <label class="container1">alles
          <input type="radio" name="radio1">
          <span class="checkmark1"></span>
        </label>
        <div>Einblendung</div>
        <label class="container0">Online
          <input type="checkbox" checked="checked">
          <span class="checkmark0"></span>
        </label>
        <label class="container0">Offline
          <input type="checkbox">
          <span class="checkmark0"></span>
        </label>
        <div id="frak">
          <div>Fraktionen</div>
          <label class="container2">Polizei
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Mediziner
            <input type="checkbox">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Justiz
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Anwalt
            <input type="checkbox">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Schwarzwasser
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Securo-Serv
            <input type="checkbox">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Car-Wash
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Sektor-Cars
            <input type="checkbox">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Los-Santos-Customs
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Raketes-Kiosk
            <input type="checkbox">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Hornys-Burger
            <input type="checkbox">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">CNT-News
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">DNTVN
            <input type="checkbox">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Taxi
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Helmuts-Rental
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Baufirma-Kowalczyk-&-Kowalcyk
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Wolf-Gebracutswagen
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">North-Light-Church
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Unicorn
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Yakuza
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">LostMC
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Miller's-Craft-Bar
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Southside
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Kirche-des-Lichtes
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Liveinvader
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Kurant-Bar
            <input type="checkbox" checked="checked">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Zivilist
            <input type="checkbox">
            <span class="checkmark2"></span>
          </label>
          <label class="container2">Einreiseamt
            <input disabled type="checkbox">
            <span class="checkmark2"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper" data-isPlaceholder="true" data-isOnline="false" style="display: none;">
    <div class="profile">
      <div class="thumbnail">
      </div>
      <h3 class="name" data-name="Name"></h3>
      <!-- <p class="title" data-title="Name"></p>
    <p class="orga" data-orga="Name"></p> -->
      <a class="btn" href="#" data-link="link"></a>
    </div>
    <div class="offline-lable">
      <!-- <p class="stream-title"></p> -->
      <!-- <details>
      <summary>mehr Informationen</summary>
      
    </details> -->
      <table style="margin-bottom: 10px;">
        <thead>
          <tr>
            <th style="min-width: 115px">Charakter</th>
            <th>Organisation</th>
          </tr>
        </thead>
        <tbody>
          <tr class="char">
          </tr>
        </tbody>
      </table>
      <div class="icon" style="display: none">
        <div class="tooltip">
          <table>
            <thead>
              <tr>
                <th>Charakter</th>
                <th>Organisation</th>
              </tr>
            </thead>
            <tbody class="moreChars">

            </tbody>
          </table>
        </div>
        <span style="color: rgb(200, 200, 200)">Mehr Charaktere?</span>
      </div>
      <!-- <img src="https://influencermarketinghub.com/wp-content/uploads/2020/06/Grid.png" height="145" class="preview"> -->
    </div>
  </div>
  <div id="root">

  </div>

  <div id="footer">
    <div>
      <a style="color: #5f5f5f"
        href="https://docs.google.com/spreadsheets/d/1LpI-nO4oqCH_ksi8n5HT9s0LlB7HNjfhOY2JrH3pBVM/edit#gid=413858334"
        target="_blank" rel="noopener noreferrer">Streaming-Liste</a><span style="font-size:14px"> von yoshua1994</span>
    </div>
    <a style="color: #5f5f5f" href="mailto:raid_shadow.legends@yahoo.com"><span
        style="font-size:14px">Verbersserungsvorschlag? Schreib ihn mir</span></a>
  </div>
</body>

</html>