<!DOCTYPE html>
<html>
<head>
  <script src="/socket.io/socket.io.js"></script>
  <%- include('../partials/header.ejs') %>
</head>

<body>
  <div id="header">
    <h2>New update in</h2>
    <p id="time">00:00</p>
  </div>
  <div id="root">
    <div class="wrapper" data-isPlaceholder="true" data-isOnline="false" style="display: none;">
      <div class="profile">
        <div class="thumbnail">
        </div>
        <h3 class="name" data-name="Name"></h3>
        <!-- <p class="title" data-title="Name"></p> -->
        <a class="btn" href="#" data-link="link"></a>
      </div>
      <div class="offline-lable">
        <p class="stream-title"></p>
        <!-- <img src="https://influencermarketinghub.com/wp-content/uploads/2020/06/Grid.png" height="145" class="preview"> -->
      </div>
    </div>
  </div>

</body>
</html>
